#comp_package{
color: black;
   margin: 0 auto;
   background-color: #FCF7DD;
   border: 4px solid #B0916E;
   border-radius: 20px;
   padding: 15px;

}



#comp_package:hover {
    background-color: #B0916E;
    border: 4px solid #FCF7DD;
    color: white;
    text-decoration: none;
  }
  