.text-center{
    
    background-color:  #FCF7DD; 
}


.footerStyle{
   margin-top: auto;
  height: 100px;
   bottom: 0;
   width: 100%;
   
 

}

.text-uppercase{
    margin-top: 20px;

}

.backgr-foot {
    background-color: #A7845D;
    color: #f2e9e4;
}