
html {
    height: 100%;
}


body {
    margin: 0 ;
    text-align: center;
    display:flex;
    flex-direction: column;
    min-height: calc(100vh-100px);
    margin-bottom: -100px;
    background-color: #765d41;
    height: auto;
}