html {
    background-color: wheat;
}

.App {
    background-color: wheat;
}

#packGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    row-gap: 50px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

#packUl {
    list-style: none;
    background-color: #B0916E;
    width: 80%;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
}

#packLi, #countDrop {
    background-color: #EEEEEE;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    border-left: 8px solid #FCF7DD;
    border-right: 8px solid #FCF7DD;
    border-top: none;
    border-bottom: none;
    text-align: center;
}

#homeH1 {
    margin: 10px;
    text-align: center;
}

#btnHome {
    margin: 0 auto;
    background-color: #EEEEEE;
    border: 4px solid #B0916E;
    border-radius: 20px;
    padding: 10px;
    width: 20%;
}

#btnHome:hover {
    background-color: #B0916E;
    border: 4px solid #FCF7DD;
    color: white;
}

#center {
    text-align: center;
}

#homeBody {
    margin: 0 auto;
    width: 100%;
}

#stampImg {
    width: 25%;
    margin: 10px;
    margin-right: 0px;
    border-radius: 10px;
    background-color: #EEEEEE;
    padding: 5px;
}

#packLiImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#pName, #pColor {
    background-color: #EEEEEE;
    margin: 10px;
    margin-left: 0px;
    padding: 10px;
    border-left: 8px solid #FCF7DD;
    border-right: 8px solid #FCF7DD;
    border-top: none;
    border-bottom: none;
    width: 60%;
    text-align: center;
}

#pColor {
    width: 75%;
}

#country::placeholder, #postCode::placeholder, #conNumb::placeholder {
    opacity: 1;
}

#adminColor {
    border-radius: 5px;
    border: none;
    padding: 7px;
}